@import url("font/style.css");

* {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    box-sizing: border-box;
}

.header {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 96px;
}

.header__logo {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header__title {
    color: #000;
    font-size: 24px;
    font-weight: 900;
}

.header__title__color {
    color: #F25822;
}

.header__menu {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    font-weight: 500;
}

.header__menu__links {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.header__menu__links:hover {
    color: #F25822;
}

.main {
    margin-bottom: 168px;
}

.main__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    gap: 40px;
}

.main__heading {
    color: #000;
    font-size: 60px;
    width: 522px;
    font-weight: bolder;
    margin-bottom: 17px;
}

.main__text {
    width: 466px;
    margin-bottom: 37px;
}

.button {
    border: none;
    padding: 15px 36px 16px 35px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    border-radius: 50px;
    background: #AAAAAA;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button:hover {
    background: #F25822;
}

.footer {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}

.img__logo {
    gap: 46px;
}

.centered {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}